syntax: glob
.vs/*
project.lock.json
poker.engine/node_modules/*
poker.engine/src/*.js
poker.engine/src/*.js.map
poker.engine/test/*.js
poker.engine/test/*.js.map
poker.engine/src/model/*.js
poker.engine/src/model/*.js.map
poker.engine/obj/*
npm-spike/node_modules/*
poker.engine/**/*.js
poker.engine/**/*.js.map
poker.engine/bin/*
poker.ui/dist/*
poker.ui/node_modules/*
poker.aurelia/poker.ui/scripts/*
poker.engine/application.log
npm-spike/*.js
npm-spike/*.js.map
npm-spike/obj/*
npm-spike/bin/Microsoft.NodejsTools.WebRole.dll
poker.engine/event_*.json
npm-debug.log
poker.admin.ui/node_modules/*
poker.admin.ui/scripts/*
npm-spike/npm-spike.njsproj.user
poker.engine/tmptx_*
npm-spike/npm-debug.log*
poker.engine/gettransaction_result_*
poker.engine/sendtoaddress_result_*
db_backup/*
tmp/*
application.log
ravendb-nodejs-client/*
poker.ui/poker.ui/scripts/*
poker.ui/scripts/*
*.js.map
poker.ui/src/shared/*.js
poker.engine/GeoLite2-Country.mmdb
GeoLite2-Country.mmdb
event_*
tmptx_*.json
gettransaction_result_*.json
sendtoaddress_result_*.json
poker.engine/build/poker.engine/src/.version
poker.engine/build/*
poker.admin.ui.angular/node_modules/
*/node_modules/*
poker.payments/build/*
npm-spike/build/*
poker.admin.ui.angular/dist/*
scripts/vagrant/**/.vagrant/*
scripts/vagrant/payment_server/ubuntu-bionic-18.04-cloudimg-console.log
poker.payments/dash_gettransaction_*.json
poker.payments/eth.log
poker.payments/outgoing.log
poker.payments/incoming.log
poker.payments/.env
scripts/vagrant/game_server/install_files/GeoLite2-Country.tar.gz
scripts/vagrant/game_server/ubuntu-bionic-18.04-cloudimg-console.log
doc/
